/* #region Comuni */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
* .dashed{
    border: 1px dashed;
}
body{
    margin: auto;
}

.dflex{
    display: flex;
}

/* #endregion Comuni */

/* #region utility */
.Logo{
    width: 25%;
}
.search{
    width: 50%;
    text-align:center;

}
.Login{
    width: 25%;
    text-align: right;

}
/* #endregion utility */



header{
    height: 20vh;
    background-color: aquamarine;
}
.conteinerT{
    border:1px dashed;
    margin: auto;
    justify-content: space-between;
    background-color: orange;
    width: 80vw;

}

main{
    height: 30vh;
    background-color: bisque;
}
footer{
    height: 40vh;
    background-color: azure;
}

