/* #region Comuni */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
* .dashed{
    border: 1px dashed;
}
body{
    margin: auto;
}

.dflex{
    display: flex;
}

/* #endregion Comuni */

/* #region header */
.Logo{
    width: 25%;
}
.search{
    width: 50%;
    text-align:center;
}
.Login{
    width: 25%;
    text-align: right;
}
header{
    height: 20vh;
    background-color: aquamarine;
}
.conteinerH{
    border:1px dashed;
    margin: auto;
    justify-content: space-between;
    background-color: orange;
    width: 80vw;

}

/* #endregion header */

/* #region main */
main{
    height: 100vh;
    background-color: bisque;
}
.banner{
    width: 60%;
    height: 80%;
    background-color: blue;
}
.module{
    height: 30vh;
    justify-content: center;
    align-items: center;
    background-color: red;
}



/* #endregion main */



footer{
    height: 40vh;
    background-color: azure;
}

