/* #region Comuni */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
* .dashed{
    border: 1px dashed;
}
body{
    margin: auto;
}

.dflex{
    display: flex;
}
.reverseRow{
    flex-direction: row-reverse;
}
.bg-r{
    background-color: red;
}
.bg-g{
    background-color: grey;
}
.bg-BL{
    background-color: blue;
}


/* #endregion Comuni */

/* #region header */
.Logo{
    width: 25%;
}
.search{
    width: 50%;
    text-align:center;
}
.Login{
    width: 25%;
    text-align: right;
}
header{
    height: 20vh;
    background-color: aquamarine;
}
.conteinerH{
    border:1px dashed;
    margin: auto;
    justify-content: space-between;
    background-color: orange;
    width: 80vw;

}

/* #endregion header */

/* #region main */
main{
}
.banner{
    width: 60%;
    height: 80%;
}

.module{
    height: 30vh;
    justify-content: center;
    align-items: center;
}
article{
    width: 60%;
    background-color: cyan;
}
aside{
    width: 40%;
    background-color: rosybrown;
}



/* #endregion main */



footer{
    height: 40vh;
    background-color: azure;
}

